body{
    background: #eba844;
};
.background-chamado {
    background-color: #F5F5F5; /* Substitua pelo código da cor desejada */
}

.editing-active {
  border: 1px solid #97999b;
  background-color: #e4e4e4;
  padding: 4px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

